<div class="main">
    <div class="header">
        <div style="display: flex; width: 80%;">
            <div class="logo">
                <div style="margin-top: 3px;">
                    <img class="imageBlock-cddRn" data-assetindex="0"
                        src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3Aa5b33713-5c6d-45cb-8c64-81e6721d4f29&amp;params=version%3A0&amp;token=1712029806_da39a3ee_3bd84245beb7b08d5c41f93965fd94e71e018974&amp;api_key=CometServer1"
                        style="display: inline;">
                </div>
                <h1>Bookstore</h1>
            </div>
            <div class="search-bar">
                <button mat-icon-button class="search-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="options">
            <div class="profile">
                <button mat-icon-button class="search-icon" aria-label="Example icon-button with share icon">
                    <span class="material-symbols-outlined" style="color: white;">
                        person
                    </span> 
                </button>
                <span class="caption">Profile</span>
                <div class="dash">
                </div>
                <div class="profile-menu">
                    <div class="profile-name"></div>
                    <div class="user profile-option"></div>
                    <div class="order profile-option"></div>
                    <div class="wishlist profile-option"></div>
                    <button>Logout</button>
                </div>
 
            </div>
            <div class="cart">
                <button mat-icon-button class="search-icon" aria-label="Example icon-button with share icon">
                    <span class="material-symbols-outlined "  style="color: white;">
                        shopping_cart
                    </span>                
                    </button>
                <span class="caption">Cart</span>
            </div>
        </div>
    </div>
    <div class="display"></div>
</div>