.main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #A03037;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 160px;
    box-sizing: border-box;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>h1 {
    margin: 0px 0px 0px 5px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.search-bar {
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 60%;
}

.search-bar>input {
    height: 27px;
    border: none;

}

.options {
    display: flex;
    height: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #8F2B2F;
    border-right: 2px solid #8F2B2F;
    padding: 0px 20px;
    position: relative;
}

.cart {
    display: flex;
    flex-direction: column;
    // border-left: 2px solid #8F2B2F;
    border-right: 2px solid #8F2B2F;
    padding: 0px 20px;
    position: relative;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.45px;
    margin-top: -15px;
    color: #FFFFFF;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 300;
    font-style: normal;
    font-size: 10px;
}

.dash {
    height: 4px;
    width: 160%;
    background-color: white;
    margin-left: -17px;
    margin-top: 3px;
    border-radius: 2px;

}

.profile-menu {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 200px;
    height: 182px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1; 
    padding: 16px 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 0.3s ease; 
}

.profile-name {
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}

.profile-option {
    display: flex;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.title {
    margin-left: 12px;
    color: #878787;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

.logout-btn {
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    width: 123px;
    height: 33px;
background-color: transparent;
    color: #A03037;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute; 
    background-color: white;
    top: 12px;
    right: 30px;
    color:#8F2B2F;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
}

.display{
    background-color: wheat;
    // height: 100%;
    width: 100%;
}



 







.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}