<div class="main">
    <div class="header">
        <div style="display: flex; width: 80%;">
            <div class="logo">
                <div style="margin-top: 3px;">
                    <img class="imageBlock-cddRn" data-assetindex="0"
                        src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3Aa5b33713-5c6d-45cb-8c64-81e6721d4f29&amp;params=version%3A0&amp;token=1712029806_da39a3ee_3bd84245beb7b08d5c41f93965fd94e71e018974&amp;api_key=CometServer1"
                        style="display: inline;">
                </div>
                <h1>Bookstore</h1>
            </div>
            <div class="search-bar">
                <button mat-icon-button class="search-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="options">
            <div class="profile" (click)="toggleProfileMenu()">
                <button mat-icon-button class="search-icon" aria-label="Example icon-button with share icon">
                    <span class="material-symbols-outlined" style="color: white;">
                        person
                    </span> 
                </button>
                <span class="caption">Profile</span>
                <div class="dash" [style.display]="profileMenu ? 'none' : 'flex'">
                </div>
                <div class="profile-menu" [style.display]="profileMenu ? 'none' : 'flex'">
                    <div class="profile-name">
                        Hello {{name}},
                    </div>
                    <div class="user profile-option">
                        <span class="material-symbols-outlined" style="color: #878787; font-size: 12px; display: flex; align-items: center;">
                            person
                        </span> 
                        <div class="title">Profile</div>
                    </div>
                    <div class="order profile-option">
                        <span class="material-symbols-outlined" style="color: #878787; font-size: 12px; display: flex; align-items: center;">
                            orders
                        </span> 
                        <div class="title">My Orders</div>
                    </div>
                    <div class="wishlist profile-option">
                        <span class="material-symbols-outlined" style="color: #878787; font-size: 12px; display: flex; align-items: center;">
                            favorite
                        </span> 
                        <div class="title">My Wishlist</div>
                    </div>
                    <button class="logout-btn">Logout</button>
                </div>
                <div class="profile-menu" [style.display]="profileMenuSignin ? 'none' : 'flex'">
                    <div class="profile-name">
                        Welcome
                    </div>
                    <div class="user profile-option">
                        <!-- <span class="material-symbols-outlined" style="color: #878787; font-size: 12px; display: flex; align-items: center;">
                            person
                        </span>  -->
                        <div style="margin: 0;" class="title">To acsess account and manage orders</div>
                    </div>
                    <button class="logout-btn">LOGIN/SIGNUP</button>
                    <hr style="width: 100%;">
                    <div class="order profile-option">
                        <span class="material-symbols-outlined" style="color: #878787; font-size: 12px; display: flex; align-items: center;">
                            orders
                        </span> 
                        <div class="title">My Orders</div>
                    </div>
                    <div class="wishlist profile-option">
                        <span class="material-symbols-outlined" style="color: #878787; font-size: 12px; display: flex; align-items: center;">
                            favorite
                        </span> 
                        <div class="title">My Wishlist</div>
                    </div>
                </div>
            </div>
            <div class="cart">
                <button mat-icon-button class="search-icon" aria-label="Example icon-button with share icon">
                    <span class="material-symbols-outlined "  style="color: white;">
                        shopping_cart
                    </span>                
                    </button>
                <span class="caption">Cart</span>
                <div *ngIf="count > 0" class="count">{{ count }}</div>            </div>
        </div>
    </div>
    <div class="display">
        <!-- <app-display-books></app-display-books> -->
        <router-outlet/>
    </div>
</div>