<div class="main">
    <div class="head">
        <div class="logo">
            <div style="margin-top: 3px;">
                <img class="imageBlock-cddRn" data-assetindex="0"
                    src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3Aa5b33713-5c6d-45cb-8c64-81e6721d4f29&amp;params=version%3A0&amp;token=1712029806_da39a3ee_3bd84245beb7b08d5c41f93965fd94e71e018974&amp;api_key=CometServer1"
                    style="display: inline;">
            </div>
            <h1>Bookstore</h1>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="heading">Forgot Your Password?</div>
            <form [formGroup]="forgetForm">
                <div class="title">Enter your email address and we'll send you a link to reset your password.</div>
                <div class="input">
                    <span class="caption">Email Id</span>
                    <div class="email"
                        [ngClass]="{ 'error-border': forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched }">
                        <input type="text" formControlName="email">
                    </div>
                    <div>
                        <p class="error"
                            *ngIf="forgetForm.get('email')?.hasError('required')&& forgetForm.get('email')?.touched">
                            Enter your email.
                        </p>
                        <p class="error"
                            *ngIf="forgetForm.get('email')?.hasError('email')&& forgetForm.get('email')?.touched">
                            Email must be valid.
                        </p>
                    </div>
                </div>
                <button class="forget-btn" (click)="forgetPassword()">Reset Password</button>
            </form>
            <button class="footer" [routerLink]="['/register']">
                CREATE ACCOUNT
            </button>
        </div>
    </div>
</div>