.main {
    background-color: wheat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #b0b0b0;
    display: flex;
    flex-direction: column;
}

.head {
    height: 60px;
    background-color: #A03037;
}

.container {
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    background-color: white;
    width: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    padding: 27px;
    box-sizing: border-box;
}

form {
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: 36px 67px 0px 67px;
    opacity: 1;
}

.caption {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    margin-bottom: -4px;
}

.input {
    display: flex;
    flex-direction: column;
    height: 71.5px;
}

.email.focus {
    border-color: #A03037;
}

.email {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // box-shadow: 0px 1px 8px #00000021;
    border: 2px solid #E4E4E4;
    border-radius: 3px;
    opacity: 1;
}

.error-border.email {
    border: 2px solid red!important;
}

.error{
    font-size: 10px;
    color: red;
    margin-top: -3px;
}

input {
    height: 35px;
    width: 98%;
    border: none;
    border-radius: 3px;
}

input:focus {
    outline: none;
}