<div class="main">
    <div class="header">
        <div class="details">
            <h2>Books</h2>
            <p>({{count}} items)</p>
        </div>
        <div class="dropmenu">
            <select aria-placeholder="Sort by preference">
                <option class="menu-option" value="" disabled selected>Sort by preference</option>
                <option value="lowToHigh">Price: Low to High</option>
                <option value="highToLow">Price: High to Low</option>
                <option value="newestArrival">Newest Arrival</option>
            </select>
        </div>
    </div>
    <div class="display">
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
    </div>
</div>