.main {
    padding: 0px 160px;
    box-sizing: border-box;
    // background-color: red;
    width: 100%;
}

.header {
    padding: 22px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}

.details {
    display: flex;
    align-items: center;
}

.details>h2 {
    margin: 0px;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

.details>p {
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 5px;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

.dropmenu {
    margin-left: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 1px;
    opacity: 1;
    width: 170px;
    // margin-right: 1px
}

.dropmenu>select {
    padding: 8px 16px;
    border-radius: 0; 
    border: none;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.dropmenu>select:focus {
    outline: none;
}

// .menu-option {
//     width: 161px;
//     // height: 95px;
//     // background: #FFFFFF 0% 0% no-repeat padding-box;
//     border: 1px solid #E2E2E2;
//     border-radius: 1px;
//     opacity: 1;
//     padding: 40px 5px;
// }

// .menu-option option {
//     padding: 10px 16px;
// }


option:focus {
    border: none;
    outline: none;
}

option:before {
    padding-right: 100px;
    padding-left: 5px;
}


.display{
    // background-color: tan;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin: 0px -14px;
    box-sizing: border-box;
}