.main {
    padding: 0px 160px;
    box-sizing: border-box;
    // background-color: red;
    width: 100%;
}

.header {
    padding: 22px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}

.details {
    display: flex;
    align-items: center;
}

.details>h2 {
    margin: 0px;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

.details>p {
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 5px;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    // font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

.dropmenu {
    margin-left: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 1px;
    opacity: 1;
    width: 170px;
    // margin-right: 1px
}

.dropmenu>select {
    padding: 8px 16px;
    border-radius: 0;
    border: none;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.dropmenu>select:focus {
    outline: none;
}

// .menu-option {
//     width: 161px;
//     // height: 95px;
//     // background: #FFFFFF 0% 0% no-repeat padding-box;
//     border: 1px solid #E2E2E2;
//     border-radius: 1px;
//     opacity: 1;
//     padding: 40px 5px;
// }

// .menu-option option {
//     padding: 10px 16px;
// }


option:focus {
    border: none;
    outline: none;
}

option:before {
    padding-right: 100px;
    padding-left: 5px;
}


.display {
    // background-color: tan;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin: 0px -14px;
    box-sizing: border-box;
}

.pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: wheat;
    // border: 1px solid black;
    padding: 50px 0px;
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: white;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    opacity: 1;
    cursor: pointer;
}

.inactive {
    color: #E2E2E2;
}

.number {
    height: 37px;
    width: 37px;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-active {
    background: #8F2B2F 0% 0% no-repeat padding-box;
    color: white;
}

.footer {
    height: 50px;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer>p{
    color: white;
    margin: 0;
    margin-left: 11%;
    font-size: 12px;
}