.container{
    width: 233px;
    height: 280px;
    border-radius: 5px;
    padding: 28px;
    // border: 2px solid black
}
.upper{
    width: 233px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-bottom: none;
    background-color: #F5F5F5;
    border-radius: 3px 3px 0px 0px;
    img{
        width: 50%;
        height: 90%;
    }
}
.lower{
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius:  0px 0px 3px 3px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 9px 20px ;
}
.title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
}
.author{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    font-family: "Roboto", sans-serif;
    // font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: #878787;
}
.rating{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5px;
    background-color: #388E3C;
    height: 100%;
    width: 33px;
    font-size: 10px;
    color: #FFFFFF;
    border-radius: 2px;
}

.rating>span{
    display: flex;
    align-items: center;
    margin-left: 3px;
    justify-content: center;
    border-radius: 2px;
}

.price{
    margin-top: 5px;
    box-sizing: border-box;
    .discount{
        font-size: 12px;
        font-weight: 600;
        margin-right: 1%;
    }
    .actual{
        color: #878787;
        font-size: 12px;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined.md-light{
    color: #FFFFFF;
    font-size: 2.1vh;
}